<p id="notice"><%= notice %></p>

<p>
  <b>投稿者名:</b>
  <%= @article.name %>
</p>

<p>
  <b>内容:</b>
  <%= simple_format(@article.article) %>
</p>
<p>
  <b>投稿日時:</b>
  <%= @article.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
</p>


<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '戻る', articles_path %>
